div{
    display: block;
    margin-bottom: 20px;
}

label{
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-right: 10px;
}

.elemente{
    position: fixed;
    bottom: 400px;
    right:700px;
}

#btnSalveaza{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    font-style: italic;
    border-color: rgb(88, 72, 72);
    background: transparent;
    margin-left: 80px;
}

#cb_proiect, #cb_livrabil{
    width: 150px;
    height: 25px;
}

#tb_link{
    width: 173px;
    height: 20px;
}

#par2{
    position: fixed;
    top:60px;
    left:470px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
}
#par1{
    position: fixed;
    top:20px;
    left:630px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}